<div class="main">
    <div class="col-md-12 share-con-recomand">
        <h3>相关推荐</h3>
        <p>暂时没有推荐</p>
        <ul ng-controller="UserSharesController">
            <li ng-repeat="shares in vm.userShares | filter: query | orderBy:'shareUserName'">
                <div class="litpic">
                    <img ng-src="{{shares.shareLitpic}}" alt=""/>
                    <div class="play-btn" ng-show="shares.shareType == 'video'"></div>
                </div>
                <div class="s-title">
                    <h5>{{shares.shareShotTitle}}</h5>
                </div>
                <div class="s-info">
                    <div class="s-tag">
                        <ul>
                            <li ng-repeat="tag in shares.shareTagsArr">
                                <img src="./assets/images/tag.png" alt=""/><span>{{tag}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="s-views">
                        <img src="./assets/images/views.png" alt=""/><span>{{shares.shareViews}}</span>
                    </div>
                </div>
                <div class="s-user">
                    <img src="{{shares.shareUserLogo}}" alt=""/><span class="s-user-name">{{shares.shareUserName}}</span><span class="s-user-company">{{shares.shareUserCompanyNameShot}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
