<div class="shares">
    <div class="s-tabs">
        <ul>
            <li><a ng-class="{active:isNew == true}" href="javascript:void(0)" ng-click="isNew = true; isHot = false">最新分享</a></li>
            <li><a ng-class="{active:isHot == true}" href="javascript:void(0)" ng-click="isHot = true; isNew = false">热门分享</a></li>
        </ul>

        <div class="clear-fix"></div>
    </div>
    <div class="s-cons">
        <div class="new-share" ng-show="isNew" ng-init="isNew =true;">
            <ul class="new-ul">
                <li ng-repeat="shares in vm.companyShares | filter: query : 5 | orderBy:'id'">
                    <div class="litpic">
                        <a ng-href="#/shareContent?id={{shares.id}}">
                            <img ng-src="{{shares.surfaceImgUrl}}" alt=""/>
                             <div class="play-btn"></div>
                        </a>
                    </div>
                    <div class="s-title">
                        <a ng-href="#/shareContent?id={{shares.id}}"><h5>{{shares.shareShotTitle}}</h5></a>
                    </div>
                    <div class="s-info">
                        <div class="s-tag">
                            <ul>
                                <li ng-repeat="tag in shares.shareTagsArr">
                                    <img src="./assets/images/tag.png" alt=""/><span>{{tag}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="s-views">
                            <img src="./assets/images/views.png" alt=""/><span>{{shares.playCount}}</span>
                        </div>
                    </div>
                    <div class="s-user">
                        <img src="{{shares.headPhoto}}" alt=""/><span class="s-user-name">{{shares.realName}}</span><span class="s-user-company">{{shares.companyName}}</span>
                    </div>
                </li>
            </ul>
            <div class="more-shares-btn" ng-click="vm.showMore('shareId')"  ng-init="isMoreNew = false">
                <h5>查看更多分享...</h5>
            </div>

            <div class="clear-fix"></div>
        </div>
        <div class="hot-share" ng-show="isHot" ng-init="isHot = false">
            <ul class="hot-ul">
                <li ng-repeat="shares in vm.companyShares | filter: query | orderBy:'playCount'">
                    <div class="litpic">
                        <a ng-href="#/shareContent?id={{shares.id}}">
                            <img src="{{shares.surfaceImgUrl}}" alt=""/>
                            <div class="play-btn"></div>
                        </a>
                    </div>
                    <div class="s-title">
                        <a ng-href="#/shareContent?id={{shares.id}}"><h5>{{shares.shareShotTitle}}</h5></a>
                    </div>
                    <div class="s-info">
                        <div class="s-tag">
                            <ul>
                                <li ng-repeat="tag in shares.shareTagsArr">
                                    <img src="./assets/images/tag.png" alt=""/><span>{{tag}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="s-views">
                            <img src="./assets/images/views.png" alt=""/><span>{{shares.playCount}}</span>
                        </div>
                    </div>
                    <div class="s-user">
                        <img src="{{shares.headPhoto}}" alt=""/><span class="s-user-name">{{shares.realName}}</span><span class="s-user-company">{{shares.companyName}}</span>
                    </div>
                </li>
            </ul>
            <div class="more-shares-btn" ng-click="vm.showMore('realName')"  ng-init="isMoreHot = false">
                <h5>查看更多分享...</h5>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>

    <div class="clear-fix"></div>
</div>