.create-btn {
  width: 100%;
  padding: 20px;
  background-color: #118eee;
  text-align: center;
  margin-top: 20px;

  a {
    color : #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, "微软雅黑";
    text-decoration: none;
  }
}

.create-box {
  width: 100%;
  position: fixed;
  background: rgba(30,30,30,0.7);
  height:100%;
  z-index: 10000;
  left: 0;
  top: 0;

  .create-form-box {
    width: 50%;
    background-color: #ffffff;
    height: 60%;
    position: absolute;
    left: 25%;
    top: 15%;
    padding: 20px;

  }
}


.form-title {
  margin: 10px 0;
}

.form-title p {
  float: left;
  font-size: 24px;
  margin: 0;
}

.form-title a {
  float: right;
}