
    <div class="col-md-12 course-list">
        <ul>
            <li ng-repeat="c in vm.courses" class="row">
                <div class="col-md-4 couser-Litpic">
                    <img src="{{c.courseLitpic}}" alt=""/>
                    <div class="play-btn"></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 course-title">
                            <h4>{{c.courseTitle}} <span class="course-up-time">
                                <img src="./assets/images/time.png" alt=""/>
                                {{c.courseUpTime}}
                            </span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 course-dec ">
                            <p>{{c.courseDec}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 course-info">
                            <div class="s-tag">
                                <ul>
                                    <li ng-repeat="tag in c.courseTagsArr">
                                        <img src="./assets/images/tag.png" alt=""/><span>{{tag}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="s-views">
                                <img src="./assets/images/views.png" alt=""/><span>{{c.courseViews}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="course-user">
                                <img src="{{c.teacherLogo}}" alt=""/><span class="s-user-name">{{c.courseTeacher}}</span><span class="course-user-company">{{c.courseCompany}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <hr/>
        </ul>
    </div>