
    <div class="col-md-12 course-list">
        <ul>
            <li ng-repeat="c in vm.courses | filter : vm.catFilter | limitTo:9 " class="row">
                <div class="col-md-4 couser-Litpic">
                    <a href="#/courseDetail?id={{c.id}}"><img src="{{c.surfaceImageUrl}}" alt=""/></a>
                    <div class="play-btn"></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 course-title">
                            <h4><a href="#/courseDetail?id={{c.id}}">{{c.courseName}}</a> <span class="course-up-time">
                                <img src="./assets/images/time.png" alt=""/>
                                {{c.publisherTime}}
                            </span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 course-dec ">
                            <p>{{c.introduction}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 course-info">
                            <div class="s-tag">
                                <ul>
                                    <li ng-repeat="tag in c.courseTagsArr">
                                        <img src="./assets/images/tag.png" alt=""/><span>{{tag}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="s-views">
                                <img src="./assets/images/views.png" alt=""/><span>{{c.studyCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="course-user">
                                <span class="course-user-company">{{c.publisher}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <hr/>
        </ul>
    </div>